<nlog>
  <targets>
    <target type="File" name="target1" fileName="prigitsk-web.log"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />
    <target type="Console" name="target2"
            layout="${message} ${exception}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="target1,target2" />
  </rules>
</nlog>