<nlog>
  <targets>
    <target type="File" name="target1" fileName="prigitsk.log"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />
    <target type="Console" name="target2"
            layout="${message} ${exception}" />
  </targets>

  <rules>
    <logger name="consoleLogger" minlevel="Info" writeTo="target2" />
    <logger name="fileLogger" minlevel="Debug" writeTo="target1" />
  </rules>
</nlog>