<nlog>
  <targets>
    <target type="File" name="fileTarget" fileName="prigitsk.log"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />
    <target type="Console" name="consoleTarget"
            layout="${message} ${exception}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="fileTarget" />
    <logger name="*" minlevel="Debug" writeTo="consoleTarget" />
  </rules>
</nlog>